*.temp
*.asv
# Large file : More than 50 MB (in the shell : "find * -size +50M | cat >> .gitignore")

consult/14year.nc
nc_output/simulation_radionuclides_Fukutoku-Okanoba_output.nc
pre_process/data/nc_to_mat/CMEMS_1993_1.mat
pre_process/data/nc_to_mat/CMEMS_1993_2.mat
pre_process/data/nc_to_mat/CMEMS_1994_1.mat
pre_process/data/nc_to_mat/CMEMS_1994_2.mat
pre_process/data/nc_to_mat/CMEMS_1995_1.mat
pre_process/data/nc_to_mat/CMEMS_1995_2.mat
pre_process/data/nc_to_mat/CMEMS_1996_1.mat
pre_process/data/nc_to_mat/CMEMS_1996_2.mat
pre_process/data/nc_to_mat/CMEMS_1997_1.mat
pre_process/data/nc_to_mat/CMEMS_1997_2.mat
pre_process/data/nc_to_mat/CMEMS_1998_1.mat
pre_process/data/nc_to_mat/CMEMS_1998_2.mat
pre_process/data/nc_to_mat/CMEMS_1999_1.mat
pre_process/data/nc_to_mat/CMEMS_1999_2.mat
pre_process/data/nc_to_mat/CMEMS_2000_1.mat
pre_process/data/nc_to_mat/CMEMS_2000_2.mat
pre_process/data/nc_to_mat/CMEMS_2001_1.mat
pre_process/data/nc_to_mat/CMEMS_2001_2.mat
pre_process/data/nc_to_mat/CMEMS_2002_1.mat
pre_process/data/nc_to_mat/CMEMS_2002_2.mat
pre_process/data/nc_to_mat/CMEMS_2003_1.mat
pre_process/data/nc_to_mat/CMEMS_2003_2.mat
pre_process/data/nc_to_mat/CMEMS_2004_1.mat
pre_process/data/nc_to_mat/CMEMS_2004_2.mat
pre_process/data/nc_to_mat/CMEMS_2005_1.mat
pre_process/data/nc_to_mat/CMEMS_2005_2.mat
pre_process/data/nc_to_mat/CMEMS_2006_1.mat
pre_process/data/nc_to_mat/CMEMS_2006_2.mat
pre_process/data/nc_to_mat/CMEMS_2007_1.mat
pre_process/data/nc_to_mat/CMEMS_2007_2.mat
pre_process/data/nc_to_mat/CMEMS_2008_1.mat
pre_process/data/nc_to_mat/CMEMS_2008_2.mat
pre_process/data/nc_to_mat/CMEMS_2009_1.mat
pre_process/data/nc_to_mat/CMEMS_2009_2.mat
pre_process/data/nc_to_mat/CMEMS_2010_1.mat
pre_process/data/nc_to_mat/CMEMS_2010_2.mat
pre_process/data/nc_to_mat/CMEMS_2011_1.mat
pre_process/data/nc_to_mat/CMEMS_2011_2.mat
pre_process/data/nc_to_mat/CMEMS_2012_1.mat
pre_process/data/nc_to_mat/CMEMS_2012_2.mat
pre_process/data/nc_to_mat/CMEMS_2013_1.mat
pre_process/data/nc_to_mat/CMEMS_2013_2.mat
pre_process/data/nc_to_mat/CMEMS_2014_1.mat
pre_process/data/nc_to_mat/CMEMS_2014_2.mat
pre_process/data/nc_to_mat/CMEMS_2015_1.mat
pre_process/data/nc_to_mat/CMEMS_2015_2.mat
pre_process/data/nc_to_mat/CMEMS_2016_1.mat
pre_process/data/nc_to_mat/CMEMS_2016_2.mat
pre_process/data/nc_to_mat/CMEMS_2017_1.mat
pre_process/data/nc_to_mat/CMEMS_2017_2.mat
pre_process/data/nc_to_mat/CMEMS_2018_1.mat
pre_process/data/nc_to_mat/CMEMS_2018_2.mat
pre_process/data/nc_to_mat/CMEMS_2019_1.mat
pre_process/data/nc_to_mat/CMEMS_2019_2.mat
pre_process/data/nc_to_mat/CMEMS_2020_1.mat
pre_process/data/nc_to_mat/CMEMS_2020_2.mat
pre_process/data/nc_to_mat/CMEMS_2021_1.mat
pre_process/data/nc_to_mat/CMEMS_2021_2.mat
pre_process/data_CMEMS/CMEMS_2009.nc
