*.temp
*.asv
# Large file : More than 50 MB (in the shell : "find * -size +50M | cat >> .gitignore")

consult/14year.nc
pre_process/data/CMEMS_ADT_u-current_Jan_to_Jun_2000.nc
pre_process/data/CMEMS_ADT_u-current_Jan_to_Jun_2001.nc
pre_process/data/CMEMS_ADT_u-current_Jul_to_Dec_2000.nc
pre_process/data/CMEMS_ADT_u-current_Jul_to_Dec_2001.nc
pre_process/data/CMEMS_ADT_v-current_Jan_to_Jun_2000.nc
pre_process/data/CMEMS_ADT_v-current_Jan_to_Jun_2001.nc
pre_process/data/CMEMS_ADT_v-current_Jul_to_Dec_2000.nc
pre_process/data/CMEMS_ADT_v-current_Jul_to_Dec_2001.nc
pre_process/data/nc_to_mat/CMEMS_2000_1.mat
pre_process/data/nc_to_mat/CMEMS_2000_2.mat
pre_process/data/nc_to_mat/CMEMS_2001_1.mat
pre_process/processed_data/my_cmems_2000_1.nc
pre_process/processed_data/my_cmems_2000_2.nc
pre_process/processed_data/my_cmems_2001_1.nc
consult/14year.nc
pre_process/data/nc_to_mat/CMEMS_2000_1.mat
pre_process/data/nc_to_mat/CMEMS_2000_2.mat
pre_process/data/nc_to_mat/CMEMS_2001_1.mat
pre_process/data/nc_to_mat/CMEMS_2001_2.mat
pre_process/data/nc_to_mat/CMEMS_2020_2.mat
pre_process/data/nc_to_mat/CMEMS_2021_1.mat
pre_process/data/nc_to_mat/CMEMS_2021_2.mat
pre_process/processed_data/my_cmems_2000_1.nc
pre_process/processed_data/my_cmems_2000_2.nc
pre_process/processed_data/my_cmems_2001_1.nc
pre_process/processed_data/my_cmems_2001_2.nc
pre_process/processed_data/my_cmems_2020_2.nc
pre_process/processed_data/my_cmems_2021_1.nc
pre_process/processed_data/my_cmems_2021_2.nc
simulation_radionuclides_Fukutoku-Okanoba_output.nc
